
<header class="conteiner fluid bg-light p-3">

    <div class="container">
        <div class="row">
            <div class="col">
               <div class="logo">
                <h1 class="text-uppercase text-bla ">
                   <a href="/">Miguel Acuña</a>
                </h1>
               </div>
            </div>
            <div class="col">
                 {{>navbar}}
            </div>
        </div>
    </div>
</header>
<div
  style="position:fixed; right:20px; bottom:20px; text-align:center; padding:20px"
>
  <a href="https://api.whatsapp.com/send?phone=+34662681XXX">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
      width="70"
      height="70"
    /></a>
</div>