<div class="container">

  <div class="text-center m-5">
    <hr />
    <h1>{{Titulo}}</h1>
    <hr />
  </div>
  <div class="row">
    <form action="./formulario" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="producto"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Precio</label>
        <input
          type="number"
          class="form-control"
          name="precio"
          placeholder="Precio"
        />
      </div>
      <div class="mb-3">
        <label
          for="exampleFormControlInput1"
          class="form-label"
        >Descripcion</label>
        <input
          type="text"
          class="form-control"
          name="descripcion"
          placeholder="Descripcion"
        />
      </div>
      <div class="mb-3 text-center">
        <input
          type="submit"
          class="button btn-primary w-50 p-2"
          value="Enviar datos"
        />
      </div>
    </form>
    <div class="text-center validation">
      <h2 class="text-danger">
        {{validacion}}
      </h2>
    </div>
  </div>
</div>