{{!-- <div class="container">

  <h1>{{Titulo}}</h1>
  <p>Estamos trabajando con {{Titulo}}</p>

</div> --}}
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.curtisur.es/blog-guarnicioneria/wp-content/uploads/2018/04/ajustar-la-cincha.jpg"
        class="d-block w-100"
        style="height: 600px"
        alt="imagen1"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Envios a todo el Pais</h5>
        <p>Envio gratis a partir de los $15.000</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://media.istockphoto.com/photos/three-saddles-picture-id826002666?k=20&m=826002666&s=170667a&w=0&h=sPrSp9NLirjUyF01sEodOwxdVjYqBjJD7xD4Nbjrogg="
        class="d-block w-100"
        style="height: 600px;"
        alt="imagen2"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Somos Fabricantes</h5>
        <p>Atencion personalizadas por Miguel Acuña</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://argentinapoloday.com.ar/blog/wp-content/uploads/caballos-polo.jpg"
        class="d-block w-100"
        style="height: 600px;"
        alt="imagen3"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Monturas personalizadas y bordadas</h5>
        <p>Cuero vacuno de primera calidad</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br />
<br />

<hr />
<h2 class="container m-10">Historia de la Montura</h2>
<p class="container m-10">
  La primera silla Proponen los expertos que la silla de montar propiamente
  dicha, con un armazón de madera, más cómoda y que daba mayor seguridad al
  jinete, hizo su aparición hasta el s. IV. Sin embargo, entre las piezas que
  componen el tesoro del Oxus, descubierto en Tayikistán, existe un relieve en
  oro en el que se representa a un noble persa cazando leones. El personaje
  dispara el arco desde su caballo y va sentado en una montura que cuenta con
  borrenes muy elevados (tanto el trasero como el delantero), lo que le brinda
  un mejor equilibrio y una mayor seguridad durante la carrera y mientras sus
  manos están ocupadas lanzando flechas. Esta interesante pieza data de la época
  Aqueménida, que se desarrolló entre el 550 y el 330 a. C., lo que demuestra la
  rápida evolución que en algunas regiones de Asia tuvo este aditamento. Con la
  silla de montar ya desarrollada, junto con el resto de las guarniciones, los
  guerreros podían sostenerse mejor y manejar eficazmente a sus cabalgaduras,
  evitando a los palafreneros que en la Antigüedad se requerían para conducir al
  animal durante el combate, tal y como se aprecia en los relieves asirios del
  s. IX a. C.</p>
<hr />

<div class="container m-10 m-top15">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://i.pinimg.com/236x/25/a0/a3/25a0a3ca836af2de07fdb9fb39ef0b47--green-style-endurance.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monturas de doma clásica</h5>
          <p class="card-text">El asiento es suave y profundo muy confortable,
            permitiendo al jinete maniobrar libremente, los faldones son muy
            largos, su diseño hace que el jinete adopte una posición más
            erguida. Las hay de varios modelos y medidas. Las portaestriberas
            deben estar bien embutidas debajo de la faldita, unidas al armazón,
            para lograr una extrema resistencia y evitar roces incómodos.</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YG0oKX5GPQnxPCFRN4swPzFeIUY6QEZh5onXvSP_eqbb4k169GcKoBBi_TZxT1ftE30&usqp=CAU"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Las sillas de doma o potreras</h5>
          <p class="card-text">Son las empleadas para efectuar un primer
            contacto entre el caballo y el jinete, así como en los trabajos de
            doma. Estas sillas suelen tener borrenes desarrollados, ya que es
            más fácil que el jinete pueda necesitar alguna clase de agarre al
            montar, y también son menos rígidas que las comunes. A la hora de
            usarlas, la primera silla de doma que se pone al potro, es ligera y
            más suave, y a medida que la doma avanza, se va volviendo más pesada</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.childericsellier.com/wp-content/uploads/2017/01/CHILDERIC_150317_PICT30-bassedef.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monturas de marchas</h5>
          <p class="card-text">Están recomendadas para cabalgar muchas horas, se
            usan para hacer Trec, Raid y Turismo Ecuestre. El asiento ancho y
            las rodilleras están especialmente acolchados para una máxima
            comodidad, y los grandes paneles distribuyen el peso del jinete en
            forma uniforme. El apoyo y balance de la montura en el lomo del
            caballo debe ser perfecto, para que no lo lastime o incomode.</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.hipicamarcos.com/17975-large_default/silla-norton-spring-mixta.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monturas para poni</h5>
          <p class="card-text">Está diseñada especialmente para adaptarse a los
            anchos lomos de los ponis. El armazón debe presentar un paso para la
            pierna especialmente estrecho. El asiento es ancho y profundo, y el
            diseño de las rodilleras brinda una seguridad extra. El diseño de
            esta montura debe tener un grado de inclinación hacia la perilla y
            un asiento un poco más profundo</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.sellerie-pillon.com/wp-content/uploads/2019/08/selle-norton-pro-jump.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monturas con armazon</h5>
          <p class="card-text">Las monturas tradicionales conforman su
            estructura interna a partir de un armazón rígido. Estos armazones
            pueden estar fabricados a partir de distintos materiales y su
            función es que la montura se apoye sobre el dorso del caballo,
            repartiendo el peso del jinete de forma equitativa y dejando la cruz
            y columna libres.</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.spurs.co.nz/user/images/2729.jpg?t=1510121221"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura inglesa</h5>
          <p class="card-text">La característica distintiva principal de una
            silla de montar Inglés es su aspecto más plano, la falta de un
            cuerno, y el diseño de auto-relleno de los paneles: un par de
            almohadillas pegadas al lado inferior del asiento y lleno de lana,
            espuma, o aire. Sin embargo, la longitud y el ángulo de las aletas,
            la profundidad del asiento y la altura de la teja, todos juegan un
            papel en el uso para el que está destinado en particular una silla
            de montar.</p>
          <a href="./productos" class="btn btn-success">Ver mas</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  style="position:fixed; right:20px; bottom:20px; text-align:center; padding:20px"
>
  <a href="https://api.whatsapp.com/send?phone=+2255626262">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
      width="70"
      height="70"
    /></a>
</div>