<div class="container">

  <div class="text-center m-5">
    <hr />
    <h1>{{Titulo}}</h1>
    <hr />
  </div>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.cowboysindians.com/wp-content/uploads/2016/01/Keith_Valley_Saddle_034.jpg" class="d-block w-100" style="height: 600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3>Monturas Personalizadas</h3>
        <p>Contactate con nosotros y solucionamos tu consulta en la brevedad</p>
      </div>
    </div>
  </div>
<div class="text-center m-5">
  <hr />
  <h2>Monturas</h2>
  <hr />
</div>
<div class="container m-10 m-top15">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.childericsellier.com/wp-content/uploads/2018/11/visuel-selle-sur-mesure-cross-childeric-categorie-1200px-555x555.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-keppler</h5>
          <p class="card-text">Las sillas de montar de carreras son exclusivas para competir. Ligeras, pequeñas y planas para jinetes que se mantienen suspendidos y guían con los estribos cortos.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.childericsellier.com/wp-content/uploads/2017/01/cfsp_childeric_cross_profil.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-Aurora</h5>
          <p class="card-text">También dentro de las monturas camperas para tu caballo, destacan las occidentales. Se utilizan para el trabajo en la industria ganadera, pero también en cabalgatas por senderos. Un fuste grande y resistente, poco relleno en la silla y siempre acompañada de una manta para comodidad del caballo.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.childericsellier.com/wp-content/uploads/2018/01/profil-pour-site-2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-lucero</h5>
          <p class="card-text">Las tradicionales sillas camperas fueron pensadas para el trabajo de campo en el cual se pasa muchas horas. Son grandes y anchas, con el fin de ofrecer mayor confort al trabajador. Asimismo, han ido evolucionando hasta fabricarse con materiales para ligeros para quitar peso al animal.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.horze.es/dw/image/v2/AATB_PRD/on/demandware.static/-/Sites-hz-master-catalog/default/dwa1d22c50/Karlslund/306307_BL.jpg?sw=1600&q=100"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-nebulosa</h5>
          <p class="card-text">La montura de marcha o de montaña es ideal para largos recorridos y la recomendable en el turismo. Un diseño más amplio y acolchado que distribuye el peso del jinete y mejora el rendimiento del caballo.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.pasaz24cdn.pl/web2613/productimages/14757149_14887.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-schrödinger</h5>
          <p class="card-text">Este tipo de montura inglesa es mucho más ligera que las otras variedades. Con esta cualidad, el caballo sostiene menor peso y puede realizar los saltos con mayor solvencia que si transportara una silla más pesada.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="https://www.pasaz24cdn.pl/web2613/productimages/14757135_18478.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Montura-luren</h5>
          <p class="card-text">Este tipo de montura inglesa es mucho más ligera que las otras variedades. Con esta cualidad, el caballo sostiene menor peso y puede realizar los saltos con mayor solvencia que si transportara una silla más pesada.</p>
          <a href="./contacto" class="btn btn-warning">Consultar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  style="position:fixed; right:20px; bottom:20px; text-align:center; padding:20px"
>
  <a href="https://api.whatsapp.com/send?phone=+2255626262">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
      width="70"
      height="70"
    /></a>
</div>

